apkid==2.1.5
asn1crypto==1.5.1
beautifulsoup4==4.13.3
billiard==4.2.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
defusedxml==0.7.1
dnspython==2.7.0
google-play-scraper==1.2.7
idna==3.10
libsast==3.1.6
lief==0.16.3
lxml==5.3.0
pycparser==2.22
pymongo==4.11
PyYAML==6.0.2
requests==2.32.3
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0
yara-python-dex==1.0.7
